body{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:auto auto auto ;
    background: url("../images/japan.jpg");
    background-size: cover;
}

h1{
    text-align: center;
    font-style: italic;
    font-family: Arial, sans-serif;
    background-color: rgba(219,205,255,0.90);
    border: solid white 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.links{
    border: solid white 3px;
    background-color: cyan;
   padding: 4px;
    border-radius: 10px;

}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}

.personal{
    margin-top: -20px;
    text-align: center;
    background-color: rgba(219,205,255,0.90);
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
    padding: 10px;

    border: solid white 5px;
    border-radius: 20%;
    font-size: 1.2em;
}

.fotomezelf{
    border-radius: 100%;
    border: solid white 3px;
    height: 200px;
    width: 200px;

}
.naruto {
    margin-top: -30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

body > h3 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 2em;
    font-style: italic;
    background-color: cyan;
    border: solid white 3px;
    border-radius: 10px;
}

.hobby{

    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    display: grid;
    grid-gap: 15px;

}

#crypto{
    background-color: cyan;
    grid-area: 1/1  /2/2;
    border: solid white 3px;
    border-radius: 10px;
}

#fitness{
    background-color: cyan;
    grid-area: 1/2  /2/3;
    border: solid white 3px;
    border-radius: 10px;
}
#netflix{
    background-color: cyan;
    grid-area: 1/3  /2/4;
    border: solid white 3px;
    border-radius: 10px;
}
.textmidden{
    text-align: center;
}
.netfliximg{
   float: right;

}
